#test-window {
  position: relative;
}

.change-screen {
  width: 310px;
  margin-left: 25px;
  height: 650px;
  overflow-y: auto;
  position: absolute;
  top: 69px;
  border-radius: 33px;
  left: calc(50% - 155px);
}

.iphone {
  display: none;
  background-image: url(../images/IPhone_X.png);
  background-repeat: no-repeat;
  overflow-y: auto;
  height: 725px;
  width: 362px;
  position: absolute;
  top: 20px;
  left: calc(50% - 155px);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}