%nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a#embedded.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Embedded elements
        .dropdown-menu{"aria-labelledby" => "embedded"}
          %a.dropdown-item{:href => "/"} Schedule
          %a.dropdown-item{:href => "/workshops.html"} Workshops
          %a.dropdown-item{:href => "/instructors.html"} Instructors
          %a.dropdown-item{:href => "/video_lessons.html"} Video Lessons
          %a.dropdown-item{:href => "/store.html"} Store
          %a.dropdown-item{:href => "/offers.html"} Offers
      - unless current_page.path == 'json.html' || current_page.path == 'offers.html'
        %li.nav-menu
          .form-check.nav-link
            %input#mobileCheck.form-check-input{:type => "checkbox", :value => ""}/
            %label.form-check-label{:for => "mobileCheck"}
              Iphone view
      %li.nav-item
        %a.nav-link{:href => "/json.html"} JSON
