%section.py-5
  #container.ksiframe-container{"data-module" => "schedule", "data-options" => "hide_branch=true", "data-target" => "qa.karmasoftonline.com"}
%header.py-5.bg-image-full{:style => "background-image: url('https://unsplash.it/1900/1080?image=1076');"}
  %img.img-fluid.d-block.mx-auto{:alt => "", :src => "https://www.karmasoftonline.com/images/logo.svg"}/
%section.py-5
  #container.ksiframe-container{"data-module" => "member/workshops", "data-target" => "qa.karmasoftonline.com"}
%section.py-5
  .container
    %h1 Section Heading
    %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
%section.py-5
  #container.ksiframe-container{"data-module" => "member/store", "data-target" => "qa.karmasoftonline.com"}
%section.py-5.bg-image-full{:style => "background-image: url('https://unsplash.it/1900/1080?image=1081');"}
  %div{:style => "height: 200px;"}
%section.py-5
  .container
    %h1 Section Heading
    %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
%section.py-5
  #container.ksiframe-container{"data-module" => "users/profiles", "data-target" => "qa.karmasoftonline.com"}
